* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
}

body {
  color: #333;
  background: #fff;
  line-height: 1.6;
}

.hero {
  background: url('../Imagenes/images (1)/images/angel.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.hero-title {
  font-size: 5rem;
  color: white;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 10%;
  gap: 2rem;
}

.section img {
  width: 300px;
  border-radius: 10px;
}

