* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  color: #333;
  background: #fff;
  line-height: 1.6;
  overflow-x: hidden;
}

.banner {
  background: url('../assets/images/angel.jpg') no-repeat center center/cover;
  height: 1242px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-title {
  font-size: 200px;
  color: white;
}

.content-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4rem 10%;
}

.content-block img {
  width: 420px;
}

.info {
  max-width: 500px;
}

.info h2 {
  font-size: 50px;
  margin-bottom: 1rem;
}

.highlighted {
  background: linear-gradient(to left, #DA006F, #F74C52);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info p {
  margin-bottom: 1.5rem;
}

.action-btn {
  padding: 0.75rem 1.5rem;
  background: #FD4C5C;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
  transition: 0.3s ease;
}

.action-btn:hover {
  background: #ff1f4d;
}

.flipped img {
  width: 420px;
}

.content-block.full-width {
  background: url('../assets/images/raptis.png') no-repeat center center/cover;
  height: 555px;
  display: flex;
  color: white;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

.info-alt {
  max-width: 500px;
  text-align: left;
  padding: 2rem;
  border-radius: 20px;
}

.info-alt h2 {
  font-size: 50px;
  margin-bottom: 1rem;
}

.info-alt p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

footer {
  background: linear-gradient(to right, #FD4C5C, #FD2E5C);
  color: white;
  padding: 3rem 10%;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  margin-bottom: 2rem;
}

footer h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.divider {
  height: 2px;
  border: none;
  background: #FF6A76;
  opacity: 0.5;
  margin: 2rem 0;
}

.footer-bottom {
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  opacity: 0.8;
  color: white;
}

